---
import { Image } from "astro:assets";
import MyImage from "../../images/MyImage.png";
---

<section>
<!-- <h1>Who I </h1> -->
	<div id="content">
		<div id="titles">
			<h2 id="title">About Me</h2>
			<p>
				Hello, I am Hasan Majid, and I am a full-stack developer with 
				experience in mobile and web development to solve real-world problems. 
				I have a passion for learning new technologies and I am currently 
				pursuing my BSc in Computer Science at Toronto Metropolitan University.
			</p>
		</div>
		<img src={MyImage.src} width="300rem" />
	</div>
	<hr/>
</section>

<style>
	#content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	p {
		max-width: 40rem;
	}

	#titles {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;	
	}

	#title {
		margin: 0;
		color: rgb(0, 140, 255);
	}

</style>
