---
import { Image } from "astro:assets";
import MyImage from "../../images/MyImage.png";
---

<section>
<!-- <h1>Who I </h1> -->
	<div id="content">
		<div id="titles">
			<h2 id="title">About Me</h2>
			<!-- <h2 id="title">Software Developer</h2> -->
			<!-- <h2 id="title">Full-stack Developer</h2> -->
			<!-- <h2 id="title"></h2> -->
			<p>
				Hello, I am Hasan Majid, and I am a full-stack developer with 
				experience in mobile and web development to solve real-world problems. 
				I have a passion for learning new technologies and I am currently 
				pursuing my BSc in Computer Science at Toronto Metropolitan University.
			</p>
		</div>
		<img src={MyImage.src} width="300rem" />
	</div>
	<hr/>
</section>

<style>
	#content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	
	h2 {
		margin: 0;
	}

	p {
		width: 35rem;
	}

	#titles {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;	
	}

	#title {
		border-radius: 0.5rem;
		padding: 0.5rem;
		padding-block: 0.2rem;
		width: fit-content;
		margin: auto;
	}

</style>
