---
const {title} = Astro.props;
---

<script>
	const html = document.getElementById("html");
	const themeButtom = document.getElementById("theme-buttom")
	const theme = localStorage.getItem("theme")
	if (!!theme) {
		html?.setAttribute("data-theme", theme)
		console.log(theme);
	} else {
		localStorage.setItem("theme", "dark")
		html?.setAttribute("data-theme", "dark")
	}
	function changeTheme() {
		if (html?.getAttribute("data-theme") === "dark"){
			localStorage.setItem("theme", "light")
			html?.setAttribute("data-theme", "light")
		} else {
			localStorage.setItem("theme", "dark")
			html?.setAttribute("data-theme", "dark")
		}
	}
	themeButtom?.addEventListener("click", changeTheme);
</script>

<html lang="en" id="html" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="container">
		<nav>
			<ul style="padding-top: 1rem;">
				<div class="headings">
					<h1 style="cursor: pointer;" onclick="location.href = '/'">Hasan Majid</h1>
					<p>Full-stack Developer</p>
				</div>
			</ul>
			<ul>
				<li><button role="button" class="secondary" id="theme-buttom">Theme</button></li>
				<li><a href="#" class="secondary">About</a></li>
				<li><a href="#" class="secondary">Portfolio</a></li>
				<li><a href="#" class="secondary">Blog</a></li>
			</ul>
		</nav>
		<hr>
        <main>
            <slot/>
        </main>
	</body>
</html>